<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
		<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		<mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
		<mimeMap fileExtension=".json" mimeType="application/json" />
		<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
	</staticContent>
	<rewrite>
      <rules>
        <rule name="Purano" stopProcessing="true">
          <match url="purano/" />
          <action type="Redirect" url="https://www.youtube.com/watch?v=IfhDVx9FNNk" redirectType="Permanent" />
	</rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>